body {
    padding-top: 50px; 
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; 
  }
  .center-horizontal {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.centered-footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px; 
    height: 100px; 
    background-color: #242424; 
    text-align: center; 
    line-height: 100px;
}

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.count-input {
	width:10%;
	display: inline;
}
.custom-image {
    width: 300px;
    height: 150px;
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-nav {
    flex-direction: row;
  }
  
  .navbar-brand {
    margin-right: 10px;
  }
  
  .navbar-text {
    text-align: right;
    margin-left: auto;
  }

.add-to-basket-block {
	margin-top: 7px;
}


.modal-image {
	width: 100%;
}

.slide-image {
   
        max-width: 1500px;
        max-height: 500px;
        width: auto;
        height: auto;
    
    display: block;
    margin: 0 auto;
}


.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.amount{
    display: inline;
}
.product{
    display: inline;
}
.remove-from-cart{
    display: inline;
}
footer {
    margin: 50px 0;
}